* {
    box-sizing: border-box;
}
body {
    background-color: gray;
}
#container {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

/********
******The header element *****
********/

.header {
    width: 100%;
    height: 600px;
    background-color: #30282a;
}
img {
    float: left;
    margin: 0 0;
    padding: 4px 10px;
}
nav {
    width: 80%;
    text-align: center;
    padding-left: 20%;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    margin-top: 0.5%;
    display: inline-block;
}
nav ul li a {
    font-size: 80%;
    text-decoration: none;
    margin-right: 10px;
    color: snow;
}
.fa-ul {
    width: 12%;
    float: right;
    color: snow;
}
.fa-ul li {
    display: inline-block;
    margin-right: 4%;
}
.fa-ul li a {
    text-decoration: none;
    color: snow;
}
.cont {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
h1 {
    font-size: 200%;
    color: snow;
    text-transform: uppercase;
    line-height: 200%;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
}
p {
    font-size: 70%;
    color: snow;
}
#button {
    width: 16%;
    height: 4%;
    background-color: snow;
    margin-left: 42%;
}
#button p {
    color: gray;
    text-align: center;
    padding-top: 5%;
    font-size: 100%;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
}

/* Second row */

.row {
    width: 100%;
    height: 600px;
}
.aside1 {
    width: 50%;
    height: 600px;
    float: left;
    background-color: aliceblue;
}
.aside1 p {
    color: #30282a;
    line-height: 20px;
    font-size: 100%;
    margin-left: 40%;
    margin-top: 10%;
    text-align: left;
}
.aside1 h1 {
    color: #30282a;
    margin-left: 40%;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
}
.aside2 {
    width: 100%;
    height: 600px;
    background-color: #F63C3C;
}
.aside2 h4 {
    color: bisque;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 150%;
    margin-left: 60%;
    padding-top: 16%;
}
.aside2 h3 {
    color: snow;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 180%;
    margin-left: 60%;
}
.aside2 p {
    color: bisque;
    font-size: 90%;
    line-height: 200%;
    margin-left: 60%;
}
.box1 {
    width: 100%;
    height: 150px;
    background-color: grey;
}
#button2 {
    margin-top: 2%;
    width: 40%;
    height: 8%;
    background-color: #F63C3C;
    margin-left: 20%;
    color: snow;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    padding-left: 7%;
    padding-top: 2%;
    font-size: 110%;
}
#row-cont {
    color: #30282a;
    height: 50px;
    font-size: 90%;
    margin-bottom: 100%;
}

/* adding content to 3rd row*/

.row1 {
    width: 100%;
    height: 600px;
    background-color: snow;
}
.aside3 {
    width: 50%;
    height: 600px;
    padding-top: 5%;
    text-align: center;
    float: left;
}
.aside3 h1 {
    color: black;
    font-size: 170%;
}
.aside3 p {
    color: #30282a;
    font-size: 100%;
    text-align: left;
    padding-left: 20%;
}
.aside4 {
    width: 100%;
    height: 600px;
    padding-left: 20%;
}
.aside4 img {
    padding-left: 10%;
}
#button3 {
    width: 30%;
    height: 7%;
    background-color: #F63C3C;
    margin-left: 35%;
}
#button3 p {
    color: snow;
    text-align: center;
    padding-top: 7%;
    padding-right: 4%;
    font-size: 100%;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
}
.row2 {
    width: 100%;
    height: 400px;
    background-color: snow;
}
.col1 {
    float: left;
    width: 33.33%;
    padding-left: 8%;
    height: 400px;
}
.col2 {
    float: left;
    width: 66.66%;
    height: 400px;
}
.col3 {
    float: left;
    width: 100%;
    height: 400px;
}
.row2 h6 {
    color: crimson;
    padding-left: 15px;
    font-size: 100%;
}
.row2 p {
    color: #30282a;
    font-size: 80%;
}
.row3 {
    width: 100%;
    height: 600px;
    background-color: snow;
    padding-left: 7%;
}
.row3 li {
    display: inline-block;
}
.row3 h3 {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    text-align: justify;
    font-size: 200%;
}
.row3 p {
    color: black;
}
.row3-1 li,
.row3-2 li {
    widows: 100%;
    margin-right: 16%;
    margin-bottom: 2%;
}

/****
****Start of row4***
*****/

.row4 {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #30282a;
    color: snow;
}
.row4 h2 {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 140%;
    padding-top: 2%;
}
.row4 p {
    font-size: 80%;
}
.row4 h5 {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
}

/****
****Start of row5***
*****/

.row5 {
    width: 100%;
    height: 500px;
    display: inline-block;
    background-color: snow;
    text-align: center;
}
.box {
    width: 80%;
    height: 100px;
    background-color: #30282a;
    margin-right: 10px;
}
.row5 h2 {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 100%;
}
.row5-1,
.row5-2,
.row5-3 {
    display: inline-block;
}
.row5-1 h6,
.row5-2 h6,
.row5-3 h6 {
    color: crimson;
    font-size: 80%;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.row5-1 h4,
.row5-2 h4,
.row5-3 h4 {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 100%;
    margin-right: 10px;
}
#button4 {
    width: 60%;
    height: 9%;
    background-color: snow;
    display: inline-block;
    border: 2px solid #605a5c;
}
#button4 p {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    padding-top: 8%;
    font-size: 80%;
    color: #30282a;
}
.row6 {
    width: 100%;
    height: 400px;
    text-align: center;
}
.row6 h3 {
    font-size: 150%;
}
.row6 p {
    font-size: 80%;
}
.row6 ul {
    list-style-type: none;
}
.row6 ul li {
    text-decoration: none;
    color: #F63C3C;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    outline-color: #F63C3C;
}
.row6 ul li a {
    text-decoration: none;
}

/************
Row 7 last row*******/

.row7 {
    width: 100%;
    height: 500px;
}
.row7-1 {
    width: 50%;
    height: 500px;
    background-color: snow;
    float: left;
    text-align: center;
}
.row7-2 {
    width: 100%;
    float: left;
    background-color: #F63C3C;
    height: 700px;
}
.row7-1 h2 {
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    padding-top: 10%;
    text-align: justify;
    padding-left: 30%;
    font-weight: 200;
}
.row7-1 p {
    color: #30282a;
    font-size: 80%;
    line-height: 150%;
    text-align: justify;
    padding-left: 30%;
}
input {
    width: 200px;
    height: 30px;
    border: 1.2px solid grey;
    padding-left: 1%;
}
button {
    color: snow;
    background-color: #F63C3C;
    width: 80px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    height: 30px;
}

/************
****** Columns for social media icons ****/

.row7-2 {
    width: 50%;
    height: 500px;
    padding-top: 1%;
    background-color: snow;
}
.col {
    width: 50%;
    height: 200px;
    background-color: #30282a;
    float: left;
    display: inline-block;
    color: snow;
}
.fa {
    width: 20%;
    float: left;
    color: snow;
    padding-top: 24%;
    padding-left: 18%;
}
.col h4 {
    font-size: 120%;
    padding-top: 12%;
    padding-left: 35%;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-weight: 100;
}
.col p {
    font-size: 90%;
    padding-left: 35%;
}
.fb,
.pint {
    background-color: #726D6E;
}
.google {
    background-color: #30282a;
}
.twit {
    background-color: #605a5c;
}

/********  social media icons hover effects *****/

.fa-google-plus-square:hover {
    color: #dd4b39;
}
.fa-twitter-square:hover {
    color: #00aced;
}
.fa-pinterest-square:hover {
    color: #cb2027;
}
.fa-facebook-square:hover {
    color: #3b5998;
}

/********  End hover effects *****/
